/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    /*Ubox-sizing: border-box;*/
}

/* Body styling */
body {
    background-color: #000000; /* Dark background color */
    color: #fff; /* White text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #000000; /* Dark header background color */
    text-align: center;
    padding: 60px;
}

header h1 {
    font-size: 24px;
}

/* Navigation styling */
nav ul {
    list-style-type: none;
    display: flex;
    background-color: #111; /* Dark navigation background color */
    padding: 30px;
    justify-content: space-between;
}

nav li {
    margin: 0;
    flex-grow: 1; /* Expand to fill available space */
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff; /* White text color */
    transition: color 0.2s;
    padding: 20px 20px; /* Increase button size */
}

nav a:hover {
    color: #00f; /* Change color to blue on hover */
}

/* Main content styling */
main {
    padding-left: 60px;
    padding-right: 60px;
}

section {
    background-color: #000000; /* Dark section background color */
    border-radius: 5px;
    /* test */
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

h2 {
    font-size: 20px;
    padding: 10px;
}

/* Footer styling */
footer {
    background-color: #111; /* Dark footer background color */
    text-align: center;
    padding: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

/* Additional styling for the futuristic title */
.futuristic-title {
    font-size: 32px;
    font-family: "Roboto", sans-serif; /* You can choose a futuristic font */
    color: #fff; /* White text color */
    text-transform: uppercase;
    letter-spacing: 4px;
    animation: glow 2s linear infinite;
}

/* Animation for the title */
@keyframes glow {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #7d7d7d;
    }
    50% {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
    }
    100% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
    }
}

/* Section animations */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion){
    .hidden {
        transition: None;
    }
}

.show{
    opacity: 1;
    transform: translateX(0);
}
